.isFilter {
  width: 200px;
  display:grid;
  grid-gap: 5px;
  /* border:1px solid gray; */
}
span {
  width: 25px;
  height: 25px;
  background:rgb(219, 217, 217);
  display: inline-flex;
  border-radius:50%;
  padding: 6px;
  margin: 5px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}
span:hover {
  border: 1px solid;
}
p {
  padding: 5px 10px;
  font-size: 14px;
  font-family: serif;
  color: rgb(156, 156, 156);
}
.btn {
  width: 150px;
  margin: 0 auto;
  color: black;
  font-weight: 700;
}
button {
  width: 55px;
  height: 30px;
  font-size: 10px;
  margin-left: 5px;
  padding: 5px 10px;
}
.btn2:hover {
  color: blue;
}