.container{
  text-align: center;
  align-content: center;
}
body {
  /* background: linear-gradient(to right, #457fca , #5691c8 ); */
  background: linear-gradient(to right,  #136a8a , #267871 );
  font-family: 'Helvetica Neue';
}
.box{
  width: 100px;
  height: 100px;
  border: 1px solid rgb(189, 189, 189);
  display:  inline-block;
  line-height: 80px;
  font-size: 30px;
}
.reset-btn {
  background: black;
  color: white;
  padding: 8px 16px;
  position: relative;
  top: -135px;
  left: -85px;
  outline: 0;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
}
.reset-btn:hover {
  background: aliceblue;
  color: black;
}

.board{
  display: inline-flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 100px;
}
h1{
  font-size: 60px;
  letter-spacing: 1px;
  color: ghostwhite;
}
.form-wrapper {
  width: 90%;
  position: fixed;
}
 /* h2 {
  font-size: 30px;
  color: white;
  letter-spacing: 1px;
  line-height: 1.5;
} */
/* h3 {
  display:inline-block;
  font-size: 30px;
}  */
